$font-family-primary: "arial rounded mt bold", "helvetica rounded", arial, sans-serif;
$font-family-secondary: "trebuchet ms", "lucida frande", tahoma, sans-serif;
$font-family-serif: "palatino", georgia, serif;
$font-family-mono: monaco, consolas, monospace;

$text-h1: 3rem;
$text-h2: 2.5rem;
$text-h3: 2rem;
$text-h4: 1.25rem;
$text-h5: 1rem;
$text-h6: 0.875rem;

$black: rgb(42, 42, 42);
$grey: rgb(145, 145, 145);
$grey-light: rgb(245, 245, 245);
$peach: rgb(255, 234, 208);
$ruby: rgb(184, 50, 50);
$white: rgb(255, 255, 255);

$breakpoint-md: 540px;
$breakpoint-lg: 768px;
